# API Credentials
NODE_ENV=development
API_PORT=3000

# Postgres Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=task_manager_db
DB_HOST=pgbouncer
DB_PORT=5432
DB_POOL_MAX=

# Pgbouncer
PGB_MAX_CLIENT_CONN=
PGB_DEFAULT_POOL_SIZE=  

# Redis (Development)
REDIS_HOST=task_api_redis
REDIS_PORT=6379

# Redis (Production)
REDIS_URL=redis://task_api_redis:6379

# CSRF Token (64-bytes)
CSRF_SECRET=