# API Credentials
NODE_ENV=development
API_PORT=3000

# Postgres Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=task_manager_db
DB_HOST=
DB_PORT=5432
DB_POOL_MAX=

# Pgbouncer
PGB_MAX_CLIENT_CONN=
PGB_DEFAULT_POOL_SIZE=  